* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --heading-background-color: #911367;
    --main-h1-color: white;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
    --display: block;
    --text-color: rgb(15, 1, 1);
    --split-color-left: #30db63;
    --split-color-right: #30db63;
    --split-color-center: white;
  }
  
  header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
  }
  
  nav {
    background-color: var(--heading-background-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  nav a {
    color: rgb(252, 250, 250);
    display: var(--display);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  h1 {
    color: var(--text-color);
    font-family: var(--heading-font);
    background-color: var(--main-h1-color);
    padding: var(--padding);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
  }
  
  main {
    grid-column: 2;
    grid-row: 1;
  }
  
  main img {
    float: right;
    margin: 0 0 1rem 1rem;
    border-radius: 8px;
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
  }
  
  p {
    line-height: 1.6;
  }
  
  aside {
    position: relative;
    width: 300px;
    margin: 0;
    border: 2px solid rgb(138, 128, 130);
    padding: var(--padding);
    background: linear-gradient(to right,
      var(--split-color-left) 0%,
      var(--split-color-left) 33%,
      var(--split-color-center) 33%,
      var(--split-color-center) 66%,
      var(--split-color-right) 66%,
      var(--split-color-right) 100%
    );
    color: rgb(5, 15, 24);
    text-align: center;
    box-shadow: 0 0 10px black;
    grid-column: 1;
    grid-row: 1;
  }
  
  aside h2 {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.7);
    padding: 0.5rem;
    border-radius: 5px;
  }

  
  aside img {
    width: 250px;
    height: 200px;
    border: 0;
    box-shadow: 0 0 10px gray;
  }
  
  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }
  
  .box {
    margin: 1rem;
    padding: 1rem;
    background-color: #f1eeee;
    color: #070707;
  }
  