nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}

main p {
    text-align: justify;
}

aside {
    width: 300px;
    height: auto;
    margin: 10px;
    border: 10px rgb(228, 8, 38);
    padding: 1rem;
    background-color: 2px skyblue, 3px rgb(255, 255, 70);
    box-shadow: solid skyblue, black;
    color: rgb(5, 15, 24), gray;
    text-align: center;
}

aside img {
    width: 300px;
    height: auto 100px;
    border:  0px whitesmoke;
    box-shadow: 40px solid black;
}

p { padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}