
:root {
  --heading-background-color: #911367;
  --main-h1-color: #911367;
  --heading-text-color: #333;
  --heading-font: 'Montserrat', Helvetica, sans-serif;
  --padding: 1rem;
  --border: 1px solid rgb(0 0 0 / 0.1);
  --display: block;
  --text-color: rgb(15, 1, 1);
  --split-color-left: #30db63;
  --split-color-right: #30db63;
  --split-color-center: white;
}




nav {
    background-color: var(--heading-background-color);
    padding: 1 var(--padding);
}

nav a {
    color: rgb(252, 250, 250);
    display:  var(--display);
    padding: 20px;
    text-decoration: none;
}


h1 {
    color:  var(--text-color);
    font-family: var(--heading-text-color);
    background-color: var(--main-h1-color);
    padding: block var(--padding);
}


main {
    max-width: 840px;
    margin: 0 auto;
}


main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}


p {
    padding: 0;
    line-height: 1.6;
}


aside {
    width: 300px;
    margin: 10px auto;
    border: 2px solid rgb(138, 128, 130);
    padding: var(--padding);
    background: linear-gradient(to right,
        var(--split-color-left) 0%,
        var(--split-color-left) 33%,
        var(--split-color-center) 33%,
        var(--split-color-center) 66%,
        var(--split-color-right) 66%,
        var(--split-color-right) 100%
    );
        
    color: rgb(5, 15, 24);
    text-align: center;
    box-shadow: 0 0 10px black;
}


aside img {
    width: 200px;
    height: auto;
    border: 0;
    box-shadow: 0 0 10px gray;
}


footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
