nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}


h1 {
    color: darkblue;
}


main {
    max-width: 840px;
    margin: 0 auto;
}


main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}


p {
    padding: 0;
    line-height: 1.6;
}


aside {
    width: 300px;
    margin: 10px auto;
    border: 2px solid rgb(228, 8, 38);
    padding: 1rem;
    background-color: skyblue;
    color: rgb(5, 15, 24);
    text-align: center;
    box-shadow: 0 0 10px black;
}


aside img {
    width: 200px;
    height: auto;
    border: 0;
    box-shadow: 0 0 10px gray;
}


footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
