.callout { 
	max-width: 400px;
    margin: 10px;
    border: 1px solid rgba(14, 9, 20, 0.952);
    padding: 20px;
    background-color:  rgb(81, 18, 199);
    color: #Fff;
}

.callout img {
	float: right;
    margin: 10px 15px;
    border: 1px solid black;
    padding: 3px;
    background-color: #Fff;
    width: 15 0px;
    height:auto;

}

blockquote {
	margin: 10px;
}

cite {
	display: block;
    border-top: 1px dotted #Fff;
    padding-top: 10px;
    text-align: right;
    font-size: smaller;
}