* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    line-height: 2.3;
}

header, footer{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
}

main {
    width: 400px;
    margin: 0 auto;

}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

section {
    margin: 30px 0;
    border: 1px solid rgba(0, 0, 0, 10%);
    padding: 10px;
    background-color: rgba(144, 144, 240, 0.87);
    font-size: 90%;
}

section p {
    margin: 10px;
}

ul {
    margin: 10px 20px 0px;
}

footer {
    font-size: .9rem;
}